<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		{{{body}}}
  </body>

	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/materialize.min.js"></script>
	<script src="/javascripts/render_recipe.js"></script>
	<script src="/javascripts/main.js"></script>
</html>
